.box {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 2rem;
	margin: 2rem;
	width: 700px;
	height: 15rem;
	background-color: rgb(240, 240, 240, 0.8);
	border-radius: 2rem;
}

.city {
	margin-bottom: 1.2rem;
}
.temp {
	font-size: 0.9rem;
	font-weight: 600;
}
.icon {
	width: 4rem;
}

.weather {
	display: flex;
	justify-content: center;
	align-items: center;
}

.desc {
	margin-bottom: 0;
	font-weight: 600;
}
