.display {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.selectBox {
	margin: 2rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2rem;
	width: 700px;
}
